<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{/layout}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<article layout:fragment="content">
<h1> Payments</h1>
    <table border="5" >
        <thead>
            <tr >
                <th>User</th>
                <th>Class</th>
                <th>Cash</th>
                <th>Payment Method</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="classs : ${all}">
                <td th:text="${classs.student.name}"></td>
                <td th:text="${classs.classforSubject.name}"></td> <!-- Assuming ClassForSubject has a name property -->
                <td th:text="${classs.cash}"></td>
                <td th:text="${classs.payments}"></td>
                <td th:text="${#dates.format(classs.date, 'yyyy-MM-dd')}"></td>
            </tr>
        </tbody>
    </table>
</article>
</body>
</html>