 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Create</title>
 <meta charset="utf-8">
</head>
<body>  
   
   
    <header id="header" class="pl-3 pr-3" style="margin-bottom:10px ;height:80px; margin-left:0; ">
    
<div class="containner d-flex align-items-center justify-content-between w-100" style="height:100%">
<div id="toggle_position_header"></div>
<div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle mr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Language
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
     <a class="dropdown-item"href="?lang=en" th:text="#{label.lang.en}">eng</a>
  <a class="dropdown-item" href="?lang=vi" th:text="#{label.lang.vi}">Another vi</a>
  </div>
</div>


</div>
    
           
              
              



            </header>
</body>
</html>