<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Product</title>
</head>

<body>
	Product
	<ul th:replace="fragments/header::navigate"></ul>


	<form th:action="@{/Cart/add}">
		<table>
			<tbody>
				<tr>
					<th>ID</th>
					<td>
						<input type="hidden" th:value="${product.id}" name="id" />
						<span th:text="${product.id}"></span>
					</td>
				</tr>

				<tr>
					<th>Name</th>
					<td th:text="${product.name}">
					</td>
				</tr>

				<tr>
					<th>SKU</th>
					<td th:text="${product.sku}">
					</td>
				</tr>


				<tr>
					<th>Price</th>
					<td>
						<input type="number" min="1" value="1" name="qty/">
					</td>
				</tr>

				<tr>
					<th>#####</th>
					<td>
						<button type="submit">Add to cart</button>
					</td>
				</tr>




			</tbody>
		</table>
	</form>
</body>

</html>