     <!-- Sidebar -->

        <div th:fragment="sidebar" style="height:100%;" id="sidebar">

          <div class="inner" style="overflow-y:scroll">

            <!-- Search Box -->
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..." />
              </form>
            </section>
              
            <!-- Menu -->
                 <!-- Menu -->
            <nav id="menu">
              <ul>
                <li><a href="index.html">Homepage</a></li>
                <li><a href="simple_page.html">Simple Page</a></li>
                <li><a href="shortcodes.html">Shortcodes</a></li>
                
                <li>
                  <span class="opener">Register Subject</span>
                  <ul>
                    <li><a href="/SubjectRegister">New Subject Register</a></li>
                    <li><a href="#">Re-Learn</a></li>
                    <li><a href="/Ongoing">On-Going Register</a></li>
                  </ul>
                </li>
                
                          <li>
                  <span class="opener">Quiz</span>
                  <ul>
                    <li><a href="/quiz">View Quiz</a></li>
                    <li><a href="/quiz/create">Create Quiz</a></li>
                    <li><a href="/listQuiz">Do quiz</a></li>
                  </ul>
                </li>
                
                
                
                <li>
                  <span class="opener">Dropdown Two</span>
                  <ul>
                    <li><a href="#">Sub Menu #1</a></li>
                    <li><a href="#">Sub Menu #2</a></li>
                    <li><a href="#">Sub Menu #3</a></li>
                  </ul>
                </li>
                <li><a href="https://www.google.com">External Link</a></li>
              </ul>
                   <ul>
                <li><a href="index.html">Homepage</a></li>
                <li><a href="simple_page.html">Simple Page</a></li>
                <li><a href="shortcodes.html">Shortcodes</a></li>
                
                <li>
                  <span class="opener">Register Subject</span>
                  <ul>
                    <li><a href="/SubjectRegister">New Subject Register</a></li>
                    <li><a href="#">Re-Learn</a></li>
                    <li><a href="/Ongoing">On-Going Register</a></li>
                  </ul>
                </li>
                
                          <li>
                  <span class="opener">Quiz</span>
                  <ul>
                    <li><a href="/quiz">View Quiz</a></li>
                    <li><a href="#">Create Quiz</a></li>
                    <li><a href="/listQuiz">Do quiz</a></li>
                  </ul>
                </li>
                
                
                
                <li>
                  <span class="opener">Dropdown Two</span>
                  <ul>
                    <li><a href="#">Sub Menu #1</a></li>
                    <li><a href="#">Sub Menu #2</a></li>
                    <li><a href="#">Sub Menu #3</a></li>
                  </ul>
                </li>
                <li><a href="https://www.google.com">External Link</a></li>
              </ul>
            </nav>

         

           Footer
                <div th:replace="footer :: footer"></div> 

          </div>
        </div> 