<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{/layout}">
<head>
<meta charset="UTF-8">
</head>

<script type="text/javascript">
	
</script>
<body>
	<div layout:fragment="content" class="card text-center ml-3">
		<!-- Thêm mã HTML để hiển thị thông báo lỗi -->


		<div style="width: 100%" class="card-header">
			<h3 style="font-weight: bold; font-size: 40px"
				th:text="' List '+${type}"></h3>
			<div class="d-flex align-items-center justify-content-between"
				style="padding: 0 10px">

				<form id="exportForm" th:action="@{export}" method="get">
					<select name="role" onchange="submitForm()">
						<option value=" ">Export to excel</option>
						<option value="all">All</option>
						<option value="student">Student</option>
						<option value="teacher">Teacher</option>
						<option value="employee">Employee</option>
					</select>
				</form>
				<form style="width: 100%"
					class="d-flex align-items-center justify-content-between"
					method="get" th:action="@{/user/list}" id="form_change_semester">
					<div>
						<span>Sort By:</span> <select name="type" id="select_user_type">
							<option th:selected="${type=='student'}" th:value="STUDENT">Student</option>
							<option th:selected="${type=='teacher'}" th:value="TEACHER">Teacher</option>
							<option th:selected="${type=='employee'}" th:value="EMPLOYEE">Employee</option>
						</select>
					</div>

					<a th:href="@{create}">Create new User</a>
				</form>




				<form th:action="@{upload}" method="post" id="submitUploadFile"
					enctype="multipart/form-data">
					<!-- Ẩn input thực sự và sử dụng label để tạo nút giả mạo -->
					<input type="file" name="file" id="fileInput" accept=".xlsx, .xls"
						style="display: none;"> <label for="fileInput"
						style="cursor: pointer; color: white; background: green; width: 200px; height: 35px; border-radius: 7px; line-height: 35px; margin: 10px">
						<i class="fa-regular fa-file-excel"></i> Import data from excel
					</label>
				</form>
			</div>
		</div>


		<table class="table  border card-body" id="class_for_subject_table">
			<thead class="bg bg-primary">
				<tr>
					<th>#</th>
					<th class="text-center">Avatar</th>
					<!-- 		<th class="text-center" th:text="#{label.user.name}"></th> -->
					<th class="text-center">Name</th>
					<th class="text-center">Email</th>
					<th class="text-center">Phone</th>
					<th class="text-center">Active</th>
					<th class="text-center">Field</th>
				</tr>
			</thead>
			<tbody th:each="s, iterStat : ${data.content}" th:object="${s}">

				<tr th:classappend="${s.id%2==0 ? 'table-active' : ''}">
					<td class="text-center" th:text="${iterStat.index + 1}"></td>
					<td class="text-center"><img
						style="max-width: 50px; max-height: 50px; display: block; margin: auto;"
						th:src="@{/assets/images/logo-university.png}"></td>
					<td class="text-center" th:text="*{name}"></td>
					<td class="text-center" th:text="*{email}"></td>
					<td class="text-center" th:text="*{phone}"></td>
					<td class="text-center"><a class="btn btn-warning"
						data-toggle="tooltip" data-placement="top" title="Update"
						th:href="@{'/user/update/' + *{id}}"> <i class="fas fa-edit"></i>
					</a> <a th:href="@{'/user/detail/' + *{id}}" class="btn btn-info"
						data-toggle="tooltip" data-placement="top" title="Details"> <i
							class="fas fa-info-circle"></i>
					</a>
					<td>
						<div class="d-flex flex-column ">
							<span class="border border-primary mt-2" th:each="d:*{fields}"
								th:text="${d.name}"></span>
						</div>


					</td>


				</tr>
			</tbody>
		</table>


		<div class="card-footer">
			<a th:data-s="${data.number+1}" id="back_page_btn"
				th:classappend="${data.first} ? 'disabled' : ''" class="btn "
				style="border: solid 1px black; padding: 3px 10px; margin-right: 10px">
				Previous</a> <a
				th:each="pageNo : ${#numbers.sequence(0, data.totalPages-1)}"
				th:classappend="${pageNo == data.number ? 'text-primary' : ''}"
				class="btn change_page_href_admin_user"
				style="border: solid 1px black; padding: 3px 10px; margin: 0px 5px"
				th:text="${pageNo + 1}"> </a> <a th:data-s="${data.number+1}"
				id="next_page_btn" th:classappend="${data.last} ? 'disabled' : ''"
				class="btn "
				style="border: solid 1px black; padding: 3px 10px; margin-left: 10px">
				Next</a>
		</div>
		<!-- 
		<form id="semesterForm" th:action="@{list}" method="GET">
			<select class="js-select-semester" name="semester">
				<option value="">Chọn học kỳ</option>
				<option th:each="semester : ${semesterAll}"
					th:value="${semester.id}" th:text="${'học kỳ '+semester.name}"></option>
			</select>
			Loại bỏ button Gửi
		</form> -->

		<select id="hoc-ky" class="hoc-ky">
			<option value="">Chọn học kỳ</option>
			<option th:each="semester : ${semesterAll}" th:value="${semester.id}"
				th:text="${semester.name}"></option>
				
				
				
		</select> <select id="class_select_list" class="lop-hoc">
			<option value="" >Chọn lớp học</option>
			
			
			
			
		</select> <select id="mon-hoc" class="mon-hoc" style="display: none;">
			<option value="">Chọn môn học</option>
		</select>
	
	</div>
</body>


</html>
