<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{/layout}">
<head>
<title>Content</title>
</head>
<body>

	<div layout:fragment="content" class="ttttable table-bordered mt-3"
		style="transform: translateX(50px)">
		<div
			style="width: 100%; color: rebeccapurple; font-family: 'georgia'; padding: 40px 0px 10px 0px; font-weight: 300;"
			class="card-header">

			<h3 style="text-align:center;font-weight: bold; font-size: 40px; text-transform: uppercase;">Mark Subject</h3>
					

		</div>
		
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Student</th>
					<th>Subject</th>
					<th>Mark</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="markSubject : ${markSubjects}">
					<td th:text="${markSubject.id}"></td>
					<td th:text="${markSubject.user.name}"></td>
					<!-- Assuming User has a 'name' field -->
					<td th:text="${markSubject.subject.name}"></td>
					<!-- Assuming Subject has a 'name' field -->
					<td th:text="${markSubject.mark}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>